<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form action="/login" method="post">
    <div>Name: <input type="text" name="name"></div>
    <div>Surname: <input type="text" name="surname"></div>
    <div>Email: <input type="text" name="email"></div>
    <div>Password: <input type="password" name="password"></div>
    <div>Age: <input type="text" name="age"></div>
    <div>City: <input type="text" name="city"></div>
    <input type="submit" name="Send">
</form>

</body>
</html>